/* Estilos base para dispositivos móviles (mobile-first) */
.about-me {
  margin-top: 20em; /* Reducido el margen superior para móviles */
  margin-left: 2em; /* Reducido el margen izquierdo para móviles */
  margin-right: 2em;
  text-align: center;
  color: white;
  
  /* Animación inicial */
  opacity: 0;
  transform: translateY(20px); /* Desplazamiento hacia abajo */
  animation: fadeInUp 2s ease-out forwards; /* Define la animación */
}
.about-me-content h2 {
  text-transform: uppercase;
  margin: 0;
  color: #293737;
}

.info-me h5 {
  text-align: end; /* Centrado el texto para móviles */
  margin-top: 5em;
  color: grey;
  background-color:#293737;
  padding: 2em;
  border-radius: 2.5rem;
}

.info-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center; /* Centrar contenido en móviles */
}

.info-me img {
  width: 0%; /* Ajustar la imagen para que sea visible en móviles */
  object-fit: cover;
  height: auto;
  display: block;
  margin-bottom: 2em; /* Añadir un poco de espacio debajo de la imagen */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Inicia con desplazamiento hacia abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina en la posición original */
  }
}


/* Media Queries para pantallas más grandes */

/* Para tablets o pantallas medianas */
@media screen and (min-width: 600px) {
  .about-me {
    margin-top: 24em;
    margin-left: 3em;
    margin-right: 3em;
  }

  .info-me h5 {
    text-align: end; /* Alinear el texto a la izquierda en tablets */
  }

  .info-me {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .info-me img {
    width: 40%; /* Ajustar el tamaño de la imagen en tablets */
    margin: 0 5%;
  }
}

/* Para pantallas grandes como laptops o computadoras de escritorio */
@media screen and (min-width: 1024px) {
  .about-me {
    margin-top: 25em;
    margin-left: 5em;
    margin-right: 5em;
  }
  .about-me h2{
    font-size: 5em;
  }
  .info-me h5 {
    text-align: end;
    font-size: 1.5em;
    width: 50%;
  }

  .info-me {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .info-me img {
    width: 20%; /* Ajustar el tamaño de la imagen para pantallas grandes */
  }
}
